:root{
    --branco: #FFFFFF;
    --cinza: #E8E8E8;
    --cinza-escuro: #a3a3a3;
    --preto: #000000;
    --vermelho: #D92727;
    --titulo: "Nunito", sans-serif;
    --texto: "Poppins", sans-serif;
 }
 

 /* https://www.flaticon.com/br/?k=1729195870282&log-in=google */